.card {
  margin: 1rem auto;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  cursor: pointer;
  overflow: hidden;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.cardImage {
  position: relative;
}

.cardImage > span {
  width: 100% !important;
}

.cardImage__text {
  position: absolute;
  bottom: 0;
  background-color: rgba(31, 38, 49, 0.9);
  left: 0;
  width: 100%;
  padding: 0.4rem 0.6rem;
  color: rgba(255, 255, 255, 0.7);
}

.cardImage__text h4 {
  text-transform: capitalize;
  font-size: 15px;
}

.cardImage__text p {
  font-size: 13px;
}

.cardImage img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.25s ease;
}

.card:hover img,
.card:active img {
  transform: scale(1.05);
}

.card:hover .cardImage__text,
.card:active .cardImage__text {
  color: #fff;
}

.cardText {
  padding: 0.4rem 0.6rem;
  font-size: 13px;
}

.cardText .cardText__duration {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.cardText__duration > p:first-of-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.cardText__duration > p:first-of-type > span:first-of-type {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cardText__description {
  padding: 0 0.6rem;
  margin: 8px 0;
  font-size: 13.5px;
  color: #4c5257;
}

.cardText__studios {
  background-color: rgba(202, 208, 216, 0.377);
  padding: 0.6rem;
  font-size: 13px;
  color: #4c5257;
}
